/* ARRUMAR TOPO */

/* ADICIONAR NOME DA EMPRESA */





.cards{
  display: flex;
  justify-content: center;
}
.card{
  width: 320px;
  height: 400px;
  border: 1px solid black;
  margin: 50px 0;
  border-radius: 9px;
  background-color: #fff2;
  color: #fff;
}
.topoCard{
  display: grid;
  grid-template-columns: 30% 30% 20%;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  padding: 1rem;
  border-bottom: 1px solid #FFF;
}
.topoCard span{
  font-weight: 500;
  width: 25%;
}
.ticker-card{
  color: 	#00FF7F;
}
.ticker-card-name{
  color: #FFF7;
  font-weight: 500;
  font-size: 0.8rem;
}
.preco-card{
  font-size: 1.4em;
  color: 	#00FF7F;
}
.variacao-card{
  font-size: 1.1em;
  color: 	#00FF7F;
}
.navCard{
  height: 10%;
}
.navCard ul{
  width:92px;
  list-style: none;
  display: flex;
  margin: 0.1rem auto;
}
.navCard ul li{
  color: #fff;
}
.graficoCard{
  width: 92%;
  margin-inline: auto;
  margin-bottom: 0.8rem;
  height: 60%;
  border-radius: 5px;
  background-color: rgba(168, 165, 165, 0.2);
}
.fundoCard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:end;
}
.fundoCard button:not(:last-child){
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.fundoCard button img{
  width: 20px;
}
.maisCard{
  width: 23px;
  font-size: 1.25rem;
  border-radius: 11px;
  border: 1px solid black;
  background-color: transparent;
}
.deslike{
  transform: rotate(180deg)
}