<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/acoes.css">
  <link rel="stylesheet" href="../css/style.css">
	<title>Sapien</title>
</head>
<body>

<main>
	<header>
    <nav class="nav-bar">

			<div class="logo">
				<a href=""><img src="../img/S.png"></a>
			</div>

			<div class="nav-list">
				<ul>
					<li class="nav-item"><a href="#">AÇÕES</a></li>
					<li class="nav-item"><a href="#">FII</a></li>
					<li class="nav-item"><a href="#">Criptos</a></li>
					<li class="nav-item"><a href="#"></a></li>
				</ul>
			</div>

			<div class="login-botton">
		  	<button><a href="#">Entrar</a></button>
			</div>

			<div class="mobile-menu-icon" >
				<button onclick="menuShow()">
					<div class="hamburguer"><div></div><div></div><div></div></div>
				</button>
			</div>
		</nav>

		<div class="mobile-menu" >

			<ul>
				<li class="nav-item"><a href="#">AÇÕES</a></li>
				<li class="nav-item"><a href="#">FII</a></li>
				<li class="nav-item"><a href="#">Criptos</a></li>
				<li class="nav-item"><a href="#"></a></li>
			</ul>

			<div class="login-botton">
		  	<button><a href="#">Entrar</a></button>
			</div>

		</div>
  </header>

		<div class="cards">
			<div class="card">

				<div class="topoCard">
					<span class="ticker-card">PETR4
            <span class="ticker-card-name">petrobras</span>
          </span>
          <span class="preco-card">32,43</span>
					<span class="variacao-card">+3,04%</span>
				</div>

				<div class="navCard">
					<ul>
            <li>Gráfico</li>
            <li>Indicadores</li>
          </ul>
				</div>

				<div class="graficoCard">
					<div>		
						<button>1h</button>
						<button>1Dia</button>
						<button>1Sem</button>
						<button>5Anos</button>
            <button>Max</button>
					</div>
				</div>

				<div class="fundoCard">
					<button><img src="../img/deslike.png">  </button><a>1.343</a>
					<button><img class="deslike" src="../img/deslike.png"> </button><a>125</a>
					<button><img src="../img/comentario.png"></button>
					<button class="maisCard">+</button>
				</div>

			</div>
		</div>

    <div class="cards">
			<div class="card">

				<div class="topoCard">
					<span class="ticker-card">PETR4
            <span class="ticker-card-name">petrobras</span>
          </span>
          <span class="preco-card">32,43</span>
					<span class="variacao-card">+3,04%</span>
				</div>

				<div class="navCard">
					<ul>
            <li>Gráfico</li>
            <li>Indicadores</li>
          </ul>
				</div>

				<div class="indicadoresCard">
					<ul>
            <li><span>dividend yeld</span><span5% ></span></li>
            <li><span></span><span></span></li>
            <li><span></span><span></span></li>
            <li><span></span><span></span></li>
            <li><span></span><span></span></li>
          </ul>
				</div>

				<div class="fundoCard">
					<button><img src="../img/deslike.png">  </button><a>1.343</a>
					<button><img class="deslike" src="../img/deslike.png"> </button><a>125</a>
					<button><img src="../img/comentario.png"></button>
					<button class="maisCard">+</button>
				</div>

			</div>
		</div>

</main>
<script src="../js/index.js"></script>
</body>
</html>