css.css font: Arial, sans-serif;
  }
  #containerCotacoes{
    border: 1px solid black;
  }#containerSetores{
    width: 45%;
    text-align: center;
    border: 1px solid black;
    margin: 10px 3px;
    display: inline-block;
    float: left;
  }div#containerSetores h3{
    margin: 9px;
  }
  .cotacao1{
    letter-spacing: 0.5px;
    font: bold 14px Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 8px 15px;
    margin: 4px 1px;
    border-radius: 10px ;
    display: inline-block;
  }.cotacao1a{
    padding: 1px 4px;
  }.cotacao1b{
    color: green;
    padding: 1px 4px;
  }
  .setores{
    margin: 10px;
    float: left;
    border: 3px solid green;
    border-radius: 10px;
    width: 230px;
    height: 80px;
  }div.setores img{
    border: 1px solid hidden;
    border-radius: 3px;
    width: 30px;
    height: 22px;
    margin: 0 2px;
  }
  .destaque{
    margin:10px;
  }

  #containerMa{
    font-family: Arial, sans-serif;
    width: 36.5%;
    text-align: center;
    border: 1px solid black;
    margin: 10px 5px;
    display: inline-block;
    float: right;
  }#maioresAltas{
    background-color: #f4f4f4;
    float: right;
    margin: 5px 11px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    /*border: 1px solid black;*/
  }table.maioresAltas{
    margin: 5px ;
    }table.maioresAltas tr {
    letter-spacing: 0.5px;
    border: 1px solid black;
    background: #2E2E2E;
    border-radius: 10px;
    color: white;
    display: block;
    margin:5px 0px;
    padding: 3px 3px;
  }table.maioresAltas tr td{
    padding: 0px ;
  }.ma{
      margin: 3px 0px;
  }
  .clear{
    clear: both;
  }
  .text-red{color: red;}
  .text-green{color: green;}


  .containerIndex01{
    padding: 10px;
    border: 1px solid black;
  }.conteudoPrincipal{
    float: left;
    width: 50%;
    height: 300px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
  }.conteudoAprenda{
    float: right;
    padding: 5px;
    height: 300px;
    margin: 5px;
    width: 45%;
    border: 1px solid black;
  }




  .clear{
    clear: both;
  }