
.cards{
  display: flex;
  justify-content: center;
}
.card{
  box-shadow: 0px 0px 10px aqua;
  width: 320px;
  height: 380px;
  margin: 50px 0;
  border-radius: 9px;
  background-color:#70809050;
  color: #fff;
}
.topoCard{
  width: 92%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 30% 20%;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  padding: 1rem 1rem 1.5rem 1rem;
  /* border-bottom: 0.1px solid aqua; */
}
.topoCard span{
  font-weight: 500;
  width: 25%;
}
.ticker-card{
  color: 	#00FF7F;
}
.ticker-card-name{
  color: #FFF7;
  font-weight: 500;
  font-size: 0.8rem;
}
.preco-card{
  font-size: 1.4em;
  color: 	#00FF7F;
}
.variacao-card{
  font-size: 1.1em;
  color: 	#00FF7F;
}
.navCard{
  height: 8%;
}
.navCard ul{
  width:92%;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  padding-block: 5px;
}
.navCard ul li{
  text-align: center;
  color: #fff;
}
.navCard ul li:first-child{
  color: aqua;
  border-right: 1px solid aqua;
}
.graficoCard{
  width: 92%;
  margin-inline: auto;
  height: 60%;
  border-radius: 5px;
  background-color:#70809025;
}
.graficoCard button{
  background-color: transparent;
  padding: 2px 5px;
  border: 1px solid #70809090;
  margin:0.1rem 0.2rem;
  color: #FFF9;
}
.fundoCard{
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:end;
  margin-top:3%;
}
.fundoCard button:not(:last-child){
  color: #FFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.fundoCard button img{
  width: 20px;
}
.maisCard{
  color: aqua;
  font-size: 1rem;
  border-radius: 50%;
  border: 1px solid aqua;
  padding: 0.32rem;
  line-height: 0.7rem; 
  background-color: transparent;
}
.deslike{
  transform: rotate(180deg)
}
 